<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="automation Suite">
  <test thread-count="5" name="Smoke Test">
    <classes>
      <class name="basicAnnotations.TestNGClass1"/>
      <class name="basicAnnotations.TestingClass2"/>
       <class name="basicAnnotations.TestingClass3"/>
    </classes>
  </test> <!-- Test -->
   <test thread-count="5" name="Regression Test">
    <classes>
      <class name="basicAnnotations.TestNGClass1"/>
      <class name="basicAnnotations.TestingClass2"/>
      <class name="basicAnnotations.TestingClass3"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
